.login-container {
    display: flex;
    height: 100vh;
    background: #f8f9fb;
    padding: 70px;
    box-sizing: border-box;
}

.login-left {
    flex: 1;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/carbg.jpg");
    /* ảnh bạn đã upload */
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 40px;
}

.login-right {
    width: 420px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header {
    text-align: center;
    /* Căn giữa toàn bộ text + buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    text-align: left;
    font-weight: 700;
}

.login-sub {
    margin-bottom: 30px;
    color: #666;
}

.login-tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.tab-active {
    width: 120px;
    height: 40px;
    border-radius: 25px;
}

.tab-normal {
    width: 120px;
    height: 40px;
    border-radius: 25px;
}

.login-form {
    margin-top: 10px;
}

.login-extra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.forgot {
    color: #1677ff;
    cursor: pointer;
}

.btn-login {
    margin-top: 10px;
    height: 45px;
    border-radius: 25px !important;
    font-size: 16px;
}