/* HERO SECTION */
.hero-card {
  border-radius: 16px;
  padding: 24px;
  position: relative;
  overflow: hidden;
  height: 330px;
}

.hero-bg-blue {
  background: linear-gradient(135deg, #e8f1ff, #e1edff);
}

.hero-bg-darkblue {
  background: linear-gradient(135deg, #dbe4ff, #cfd9ff);
}

.hero-shape {
  position: absolute;
  right: -30px;
  bottom: -20px;
  width: 250px;
  height: 250px;
  background: rgba(255, 255, 255, 0.25);
  filter: blur(40px);
  border-radius: 50%;
}

/* CAR IMAGE ALIGNMENT */
.home-car-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 0;
}

/* SERVICE SHAPE */
.service-img-wrapper {
  position: relative;
}

.service-shape-1 {
  position: absolute;
  width: 380px;
  height: 380px;
  background: #e8e8e8;
  z-index: 1;
  border-radius: 50%;
  top: 30px;
  left: 20px;
}

.service-shape-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #cae4ff;
  z-index: 2;
  border-radius: 50%;
  top: 100px;
  left: 100px;
}

.service-img {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 280px;
  object-fit: contain;
}

/* BRAND BUTTONS */
.brand-card {
  padding: 6px 20px;
  border-radius: 20px;
  background: #f2f2f2;
  cursor: pointer;
}

/* SUBSCRIBE SECTION */
.subscribe-section {
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding: 60px 40px;
  color: white;
}